html{
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
}
body{
   display: flex;
   flex-direction: column;
   max-width: 90%;
   margin: 0;
   padding: 0;
   margin: auto;
}
main{
   min-height: 65vh;
}


.image-container input{
   background: none;
}
img:hover{
   cursor: pointer;
}
h2{
   margin: 1rem auto;
   text-align: center;
}
fieldset{
   width: 50%;
   margin: auto;
}


/* TABLES */
.customer-table{
   width: 50%;
   margin: 1rem auto;
}
.cart-table th,
.cart-table td{
   vertical-align: middle;
   text-align: center;
}
.cart-a{
   text-decoration: none;
   color: #1d1d1d;
}
.table-input-center{
   margin: 0 auto;
   background: none;
}

.index-button{
   text-decoration: none;
   color: #1d1d1d;
}


/* VIEW ALL PRODUCTS */
.search-form{
   width: 99%;
   margin: 0.5rem;

}

.product-cards{
   width: 100%; 
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-grow: 1;
}
.product-cards .card{
   width: 200px;
   height: 350px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 1rem;
}
.product-cards .image-container{
   height: 70%;
}

.product-cards h3{
   margin-top: 0.5rem;
}
.product-cards p{
   color: #333333;
   margin: 0;
}

.new-or-old-cust{
   width: 50%;
   margin: 0 auto;

}
.new-or-old-cust fieldset{
   width: 100%;
   margin-bottom: 2rem;
   border: none;
}

/* INPUT FORMS */
input[type=password],
input[type=email],
input[type=text]{
   width: 50%;
}
.display-inline{
  display: inline-block;
}




